@font-face {
    font-family: Oswald;
    src: url(/Oswald/static/Oswald-ExtraLight.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Oswald;
    src: url(/Oswald/static/Oswald-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Oswald;
    src: url(/Oswald/static/Oswald-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Oswald;
    src: url(/Oswald/static/Oswald-Regular.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Oswald;
    src: url(/Oswald/static/Oswald-SemiBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Oswald;
    src: url(/Oswald/static/Oswald-Bold.ttf);
    font-weight: 900;
}
